@media (max-width: 450px) {
    #navbar h1 {
        float: none;
        text-align: start;
        font-size: 1rem;
    }
    #navbar ul {
        float: none;
    }
    #navbar ul li {
        text-align: center;
        font-size: 0.8rem;
    }
}

@media (max-width: 550px) {
    #navbar ul li a {
        padding: 10px 10px;
    }
}

@media (max-width: 640px) {
    #hero .hero-content {
        padding-top: 60px;
    }

    #hero .hero-content h1 {
        font-size: 40px;
        line-height: 120%;
        color: #000;
    }

    #contact-info .box {
        float: none;
        width: unset;
    }
}

@media (max-width: 680px) {
    #home-experience {
        height: 350px;
    }
    #home-experience .experience-img {
        display: none;
    }

    #home-experience .experience-content {
        float: none;
        width: unset;
    }
}

@media (max-width: 1050px) {
    #features .box {
        float: none;
        width: unset;
    }

    #about-info {
        height: unset;
    }

    #about-info .info-left {
        padding-bottom: 20px;
    }
    #about-info .info-left,
    #about-info .info-right {
        float: none;
        width: unset;
    }
}
