{%extends "base_page.html" %}

    {%block content%}
        <div class="container text-end">
            
            <div class="alert alert-primary" style="height:60px; color:white; background-color: #0d6efd" role="alert">
                <h4>
                מחשבון מיסים
                </h4>
            </div>

            <div class="row">
                <div class="col">
                    <picture>
                      <source srcset="/static/images/wallet2.jpg">
                      <img src="/static/images/wallet2.jpg" style='height: 100%; width: 100%; object-fit: cover'>
                    </picture>
                </div>
                <div class="col">
                <form action="{{url_for('success')}}" method="POST">

                    <div class="form-floating mb-2">
                      <input type="number" id="salary" name="salary" class="form-control" style="text-align:end; height:50px" min="0" max="10000000" placeholder="" required>
                      <label for="salary" style="right:5%;">הכנס משכורת חודשית ברוטו</label>
                    </div>

                    <div class="form-floating mb-2">
                      <input type="number" id="nz" name="nz" class="form-control" style="text-align:end; height:50px" min="2.25" max="15.00" step=0.01 placeholder="" value="2.25" required>
                      <label for="nz" style="right:5%;">הכנס מס' נקודות זכות</label>
                    </div>

                    <div class="form-floating mb-2">
                      <input type="number" id="rent" name="rent" class="form-control" style="text-align:end; height:50px" min="0" max="100000"  placeholder="" required>
                      <label for="rent" style="right:5%;">הכנס שכירות חודשית</label>
                    </div>

                    <div class="form-floating mb-2">
                      <input type="number" id="arnona" name="arnona"  class="form-control" style="text-align:end; height:50px" min="0" max="100000"  placeholder="" required>
                      <label for="arnona" style="right:5%;">הכנס ארנונה חודשית</label>
                    </div>

                    <div class="form-floating mb-2">
                      <input type="number" id="expanses" name="expanses" class="form-control" style="text-align:end; height:50px" min="0" max="100000"  placeholder="" required>
                      <label for="expanses" style="right:5%;"> הכנס הוצאות חודשיות (כולל חשמל ומים)</label>
                    </div>

                    <div class="form-floating mb-2">
                      <input type="number" id="car" name="car" class="form-control" style="text-align:end; height:50px" min="0" max="10000000"  placeholder="" required>
                      <label for="car" style="right:5%;"> הכנס שווי רכב</label>
                    </div>

                    <div class="form-floating mb-2">
                      <input type="number" id="gasoline" name="gasoline" class="form-control" style="text-align:end; height:50px" min="0" max="1000000"  placeholder="" required>
                      <label for="gasoline" style="right:5%;"> הכנס הוצאות דלק חודשיות</label>
                    </div>

                    <div class="form-floating mb-2">
                      <textarea id="content" name = "content" class="form-control" style="text-align:end;height: 100px;resize:none" maxlength="200"  placeholder="" ></textarea>
                      <label for="content" style="right:5%;"> ?הצעות לשיפור</label>
                    </div>

                    <p>
                    <b> חישובי המס הינם מקורבים, יתכנו אי דיוקים ויש לקחת זאת בחשבון</b>
                    </p>

                    <!-- <button type="submit"> שלח </button> -->
                    <input class="btn btn-primary btn-lg" type="submit" value="שלח">
                </form>
                </div>
            </div>
        </div>
    {% endblock %}
