{%extends "base_page.html" %}

	{% block head %}
        	<title>Home</title>
	{% endblock %}

    {%block content%}
        <div class="container text-end">
            <h3>
                דף הבית
            </h3>
            <p>
		.בסוף כל חודש כשאנחנו מסתכלים על התלוש החודשי, אנחנו רואים את ההורדות של המיסים הישירים<br>
		? השאלה הנשאלת היא - כמה מיסים עקיפים אנחנו משלמים בחודש<br>
		 .מחשבון המיסים הוא מחשבון פשוט ונוח שיחשב לכם את כמות המיסים העקיפים והישירים אותם אתם משלמים כל בחודש לפי פילוחים שונים<br>
		    <a href="/calc">המשך למחשבון</a>
            </p>
        </div>
    {% endblock %}
