<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="**********************"/>
    <meta name="keywords" content="**********************"/>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/responsive.css" />
    <title>Tax-calculator</title>

    <style>
        .divScroll {
        background-color:#00FFFF;
        width:40%;
        height:200PX;
        FLOAT: left;
        margin-left: 5%;
        padding: 1%;
        overflow:scroll;
    }
    </style>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/responsive.css" />

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([['Category', 'ILS'], ['מס הכנסה', 0], ['ביטוח לאומי', 6], ['ביטוח בריאות', 46]]);
        var data2 = google.visualization.arrayToDataTable([['Category', 'ILS'], ['מס הכנסה', 0], ['ביטוח לאומי', 6], ['ביטוח בריאות', 46], ['מע"מ', 510], ['מס בלו', 750], ['מס על רכב', 105], ['ארנונה', 1500]]);
        <!-- var data3 = google.visualization.arrayToDataTable([['Category', 'ILS'], ['מס הכנסה', 0], ['ביטוח לאומי', 6], ['ביטוח בריאות', 46], ['מע"מ', 510], ['מס בלו', 750], ['מס על רכב', 105]]); -->


        var options = {'position':'center', 'width':800, 'height':600, 'legend':'bottom', 'chartArea': {'width': '100%', 'height': '90%'}};
        var options2 = {'width':800, 'height':600, 'legend':'bottom', 'chartArea': {'width': '100%', 'height': '90%'}};
        <!-- var options3 = {'width':800, 'height':600, 'legend':'bottom', 'chartArea': {'width': '100%', 'height': '90%'}}; -->


        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
        <!-- var chart3 = new google.visualization.PieChart(document.getElementById('piechart3')); -->


        chart.draw(data, options);
        chart2.draw(data2, options2);
        <!-- chart3.draw(data3, options3); -->

      }
    </script>

</head>

<body>
     <!-- Navigation bar -->
    <nav id="navbar">
        <h1 class="logo"><a href="index.html">ארץ זבת חלב, חלב ומס</a></h1>
        <ul>
            <li><a href="index.html">דף הבית</a></li>
            <li><a href="calc.html">מחשבון מיסים</a></li>
            <li><a href="contact.html">צור-קשר</a></li>
            <li><a href="about.html" class="current">אודות</a></li>
        </ul>
    </nav>

    <div class="clr"></div> <!-- clears flex properties-->

    <!-- Contant-->
    <div class="container2">
        <div class="float-container">
            <h2>
                פילוח חודשי - מיסים ישירים
            </h2>
            <h3>
                בגרף זה מוצג הפילוח של המיסים הישירים - מס הכנסה, ביטוח לאומי וביטוח בריאות
            <br>
                <div class="message">
                    {{totalDirectTaxText | safe}}
                    <br>
                    {{totalDirectTaxPerText | safe}}
                </div>
            </h3>
            <div class="float-child" id="piechart"></div>
            <p>
                <br>
            </p>

            <hr style="width:100%;text-align:left;margin-left:0;background-color: black">

            <h2>
                פילוח חודשי - מיסים ישירים ועקיפים
            </h2>
            <h3>
                בגרף זה מוצג הפילוח של המיסים הישרים והעקיפים - כולל מע"מ, מס בלו ומס על רכב
            <br>
                <div class="message">
                    {{totalTaxText | safe}}
                    <br>
                    {{totalTaxPerText | safe}}
                </div>
            </h3>
            <div class="float-child" id="piechart2"></div>

            <p>
                <br>
            </p>

        </div>

        <div class="clearfix"></div>

        <hr style="width:100%;text-align:left;margin-left:0;background-color: black">
    
    <div style="text-align:center">    
    <a href="/calc" class="btn btn-primary btn-lg" role="button">חזור</a>
    </div>		
    
    </div>

    <!-- Footer -->
    <footer id="footer" class="bg-dark pv-s">
        <div class="container">
            Copyright &copy; 2022, Eretz zavat halav umas
        </div>
    </footer>
</body>
</html>