<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="**********************"/>
    <meta name="keywords" content="**********************"/>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/responsive.css" />
    <title>Tax-calculator</title>

    <style>
        .divScroll {
        background-color:#00FFFF;
        width:40%;
        height:200PX;
        FLOAT: left;
        margin-left: 5%;
        padding: 1%;
        overflow:scroll;
    }
    </style>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/responsive.css" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

            var data = google.visualization.arrayToDataTable({{DATA | safe}});
            var data2 = google.visualization.arrayToDataTable({{DATA2 | safe}});
            <!-- var data3 = google.visualization.arrayToDataTable({{DATA3 | safe}}); -->

            var options = {'position':'center',is3D:true, 'height':60%, 'legend':'bottom', 'chartArea': {'width': '80%', 'height': '80%'}};
            var options2 = {'width':800, 'height':600, 'legend':'bottom', 'chartArea': {'width': '100%', 'height': '90%'}};
            <!-- var options3 = {'width':800, 'height':600, 'legend':'bottom', 'chartArea': {'width': '100%', 'height': '90%'}}; -->

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));
            <!-- var chart3 = new google.visualization.PieChart(document.getElementById('piechart3')); -->

            chart.draw(data, options);
            chart2.draw(data2, options);
            <!-- chart3.draw(data3, options3); -->

          }
        </script>

</head>

<body>
     <!-- Navigation bar -->
    <nav id="navbar">
        <h1 class="logo"><a href="/">ארץ זבת חלב, חלב ומס</a></h1>
        <ul>
            <li><a href="/">דף הבית</a></li>
            <li><a href="/calc" class="current">מחשבון מיסים</a></li>
            <li><a href="/contact">צור-קשר</a></li>
            <li><a href="/about">אודות</a></li>
        </ul>
    </nav>

    <div class="clr"></div> <!-- clears flex properties-->

    <!-- Content-->
    <div class="container">
        <div class="float-container">
            <h3>
                פילוח חודשי - מיסים ישירים
            </h3>
            <h4>
                בגרף זה מוצג הפילוח של המיסים הישירים - מס הכנסה, ביטוח לאומי וביטוח בריאות
            <br>
                <div class="message">
                    {{totalDirectTaxText | safe}}
                    <br>
                    {{totalDirectTaxPerText | safe}}
                </div>
            </h4>

            <div class="float-child" id="piechart"></div>

            <p>
                <br>
            </p>

            <hr style="width:100%;text-align:left;margin-left:0;background-color: black">

            <h3>
                פילוח חודשי - מיסים ישירים ועקיפים
            </h3>
            <h4>
                בגרף זה מוצג הפילוח של המיסים הישרים והעקיפים - כולל מע"מ, מס בלו ומס על רכב
            <br>
                <div class="message">
                    {{totalTaxText | safe}}
                    <br>
                    {{totalTaxPerText | safe}}
                </div>
            </h4>

            <div class="float-child" id="piechart2"></div>

            <p>
                <br>
            </p>

        </div>

        <div class="clearfix"></div>

        <hr style="width:100%;text-align:left;margin-left:0;background-color: black">
    
    <div style="text-align:center">    
    <a href="/calc" class="btn" role="button">חזור</a>
    </div>		
    
    </div>

    <!-- Footer -->
    <footer id="footer" class="bg-dark pv-s">
        <div class="container">
            Copyright &copy; 2022, Eretz zavat halav umas
        </div>
    </footer>
</body>
</html>